@tailwind base;
@tailwind components;
@tailwind utilities;

/*:root {*/
/*  --foreground-rgb: 0, 0, 0;*/
/*  --background-start-rgb: 214, 219, 220;*/
/*  --background-end-rgb: 255, 255, 255;*/
/*}*/

/*@media (prefers-color-scheme: dark) {*/
/*  :root {*/
/*    --foreground-rgb: 255, 255, 255;*/
/*    --background-start-rgb: 0, 0, 0;*/
/*    --background-end-rgb: 0, 0, 0;*/
/*  }*/
/*}*/

/*body {*/
/*  color: rgb(var(--foreground-rgb));*/
/*  background: linear-gradient(*/
/*      to bottom,*/
/*      transparent,*/
/*      rgb(var(--background-end-rgb))*/
/*    )*/
/*    rgb(var(--background-start-rgb));*/
/*}*/

body {
  margin: 0;
  padding: 1.5rem 2.5rem 2.5rem 2.5rem;
  /*overflow-y: hidden;*/
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-tap-highlight-color: transparent;
}

body::-webkit-scrollbar{
  width: 10px;
  background: #b0b0b0;
}

@media screen and (max-width: 414px) {
  body{
    padding: 1rem 1.5rem;
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 768px) {
  body{
    padding: 1rem 1.5rem;
  }
}
