
.header {
    height: 4rem;
    display: flex;
    justify-content: space-between;
}


.logoContainer {

}

.logoTextFirst {
    display: inline-block;
    font-size: 1.5rem;
    font-weight: 600;
    letter-spacing: 0.07rem;
    margin-right: 0.4rem;
}

.separator {
    display: inline-block;
    font-size: 1.5rem;
    color: #9b9b9b;
    margin-right: 0.4rem;
    font-weight: 600;
}

.logoTextSecond {
    display: inline-block;
    font-size: 1.5rem;
    color: #9b9b9b;
}

.loginSignup {
    display: block;
}

.loginSignup div {
    display: inline-block;
    color: #007dce;
    cursor: pointer;
}

.loginSignup div:hover {
    color: #06ab7e;
}

.login {
    margin-right: 1rem;
}


.container {
    position: relative;
}

.mobileMenuContainer {
    margin-top: -1rem;
    position: fixed;
    height: 80vh;
    width: 87vw;
    z-index: 20;
    background: #6d7372;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    padding: 1rem 0;
    border-radius: 0.3rem;
}

.mobileLogin {
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
    padding: 0.4rem 1.4rem;
    border-radius: 0.3rem;
    background: #ffffff;
    color: #007dce;
    font-weight: 600;
    font-size: 1rem;
}

.mobileSignup {
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
    padding: 0.4rem 1rem;
    border-radius: 0.3rem;
    background: #ffffff;
    color: #5d00ce;
    font-weight: 600;
    font-size: 1rem;
}

@media (max-width: 480px) {
    .mobileMenuContainer {
        margin-top: -1.5rem;
    }

    .header {
        height: 4rem;
        align-items: center;
        padding-bottom: 2rem;
    }

    .logoTextFirst {
        font-size: 1rem;
    }

    .logoTextSecond {
        font-size: 1rem;
    }

    .separator {
        font-size: 0.9rem;
    }

    .loginSignup svg {
        width: 18px;
        height: 18px;
    }
}

@media (min-width: 481px) and (max-width: 768px) {
    .mobileMenuContainer {
        width: 91vw;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    .mobileMenuContainer {
        margin-top: 0;
        width: 90vw;
    }
}

@media (min-width: 1025px) and (max-width: 1200px) {

}
